<section class="open-position" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-data-table
      :headers="headers"
      :items="[$bybitApi.openPosition]"
      dense
      hide-default-footer
  >
    <template v-slot:item.size="{ item }">
      <span v-if="item.side === 'Sell'" class="error--text">-{{item.size}}</span>
      <span v-if="item.side === 'Buy'" class="success--text">{{item.size}}</span>
    </template>
    
    <template v-slot:item.unrealised_pnl="{ item }">
      <span v-if="item.unrealised_pnl < 0" class="error--text">{{item.unrealised_pnl.toFixed(5)}} ({{(100 * item.unrealised_pnl / item.position_margin).toFixed(2)}}%)</span>
      <span v-else-if="item.unrealised_pnl > 0" class="success--text">{{item.unrealised_pnl.toFixed(5)}} ({{(100 * item.unrealised_pnl / item.position_margin).toFixed(2)}}%)</span>
      <span v-else>{{item.unrealised_pnl.toFixed(5)}} ({{(100 * item.unrealised_pnl / item.position_margin).toFixed(2)}}%)</span>
    </template>
    
    <template v-slot:item.position_margin="{ item }">
      {{item.position_margin.toFixed(5)}} (≈{{(item.position_margin * $bybitApi.lastPrice).toFixed(2)}} USD)
    </template>
    
    <template v-slot:item.position_value="{ item }">
      {{item.position_value.toFixed(5)}} (≈{{(item.position_value * $bybitApi.lastPrice).toFixed(2)}} USD)
    </template>
  </v-data-table>
</section>
