
<v-app-bar app>
  <v-app-bar-nav-icon @click.stop="$emit('toggleDrawer')"></v-app-bar-nav-icon>
  <v-toolbar-title class="text-uppercase">
    <span class="font-weight-light">Bybit Tools</span>
  </v-toolbar-title>
  <v-spacer></v-spacer>
  <v-btn-toggle
      v-model="symbolIndex"
      mandatory
      color="primary"
  >
    <v-btn v-for="symbol in $bybitApi.availableSymbols" small mb-3>
      {{symbol}}
    </v-btn>
  </v-btn-toggle>
  <v-spacer></v-spacer>
  <span v-if="lastPriceDecreasing" class="error--text">Last : {{$bybitApi.lastPrice}} </span>
  <span v-else-if="lastPriceIncreasing" class="success--text">Last : {{$bybitApi.lastPrice}} </span>
  <span v-else>Last : {{$bybitApi.lastPrice}} </span>
  &nbsp|&nbsp
  <span v-if="markPriceDecreasing" class="error--text">Mark : {{$bybitApi.markPrice}}</span>
  <span v-else-if="markPriceIncreasing" class="success--text">Mark : {{$bybitApi.markPrice}}</span>
  <span v-else>Mark : {{$bybitApi.markPrice}}</span>
  <v-spacer></v-spacer>
  <v-btn
      text
      href="https://github.com/TranceGeniK/bybit-tools"
      target="_blank"
  >
    <span class="mr-2">Github</span>
  </v-btn>
</v-app-bar>

