<v-content>
  <v-container>
    <v-layout
        text-center
        wrap
        column
    >
      <v-row justify="space-between">
        <v-col v-if="$ui.showTvChart"
            cols="12"
            xl="8"
            lg="12"
            md="12"
            sm="12"
            xs="12"
        >
          <webview src="https://www.tradingview.com/chart" style="min-height: 63vh; max-height: calc(100vh - 64px - 48px); height: 100%"></webview>
        </v-col>
        <v-col
            cols="12"
            :xl="$ui.showTvChart ? 4 : 12"
            lg="12"
            md="12"
            sm="12"
            xs="12"
        >
          <orders-form></orders-form>
        </v-col>
      </v-row>
      <br>
      <open-orders-list></open-orders-list>
      <div class="caption mt-2">
        BTC Tip line : 1C24gX5aCBn4qdoUVKkmkj9dWGmKeMzV8L /
        ETH Tip line : 0x1d1fe0de85fe11fea34782cb2883b272fa10c57a
      </div>
      <notifications position="top right" :duration="5000"/>
    </v-layout>
  </v-container>
</v-content>