<v-navigation-drawer
    :value="value"
    @input="$emit('input', $event)"
    app
    clipped
>
  <v-form v-model="valid" :lazy-validation="false">
    <v-container>
      <v-layout wrap>
        <div class="row justify-center align-center">
          <v-dialog
              v-model="dialog"
              width="1000"
          >
            <template v-slot:activator="{ on }">
              <v-btn
                  center
                  dark
                  v-on="on"
                  small
              >
                <v-icon>mdi-settings</v-icon><span class="ml-4">Accounts</span>
              </v-btn>
            </template>
            
            <accounts @close="dialog = false"></accounts>
          </v-dialog>
        </div>
  
        <div class="row justify-center align-center">
          <v-switch v-model="$bybitApi.autoconnect"
                    class="mr-4"
                    color="primary"
                    style="max-width: 150px;"
                    label="Auto-connect at startup"></v-switch>
          <v-btn
              color="darkgrey"
              :disabled="!valid"
              @click="$bybitApi.init"
              small
          >
            Init
          </v-btn>
        </div>
        
        <v-switch v-model="$ui.showTvChart" class="ma-2" color="primary" label="Show Tradingview Chart"></v-switch>
        <v-switch v-model="$ui.showOpenPosition" class="ma-2 mt-0" color="primary"
                  label="Show Open Position"></v-switch>
        
        <v-text-field
            v-for="symbol in $bybitApi.availableSymbols"
            v-model="$ui.chartsIds[symbol]"
            :label="symbol + ' Tradingview chart id'"
        ></v-text-field>
      
      </v-layout>
    </v-container>
  </v-form>
</v-navigation-drawer>
