<v-navigation-drawer
    :value="value"
    @input="$emit('input', $event)"
    app
    clipped
>
  <v-form>
    <v-container>
      <v-layout wrap>
        <v-text-field
            v-model="$bybitApi.apiKey"
            label="API Key"
            required
        ></v-text-field>
        <v-text-field
            v-model="$bybitApi.apiSecret"
            label="Private Key"
            required
        ></v-text-field>
        <v-btn
            color="darkgrey"
            class="mr-4"
            @click="init"
        >
          Init
        </v-btn>
  
        <v-switch v-model="$ui.showTvChart" class="ma-4" color="primary" label="Show Tradingview Chart"></v-switch>
      </v-layout>
    </v-container>
  </v-form>
</v-navigation-drawer>

