<v-navigation-drawer
    :value="value"
    @input="$emit('input', $event)"
    app
    clipped
>
  <v-form v-model="valid" :lazy-validation="false">
    <v-container>
      <v-layout wrap>
        <v-switch v-model="$bybitApi.isTestnet" color="primary" label="Testnet"></v-switch>
        <v-text-field
            v-model="$bybitApi.apiKey"
            :rules="apiKeyRules"
            label="API Key"
            counter="18"
            required
        ></v-text-field>
        <v-text-field
            v-model="$bybitApi.apiSecret"
            :rules="privateKeyRules"
            label="Private Key"
            counter="36"
            required
        ></v-text-field>
        
        <v-switch v-model="$bybitApi.autoconnect" class="ma-2 mt-4" color="primary"
                  label="Auto-connect at startup"></v-switch>
        
        <v-btn
            color="darkgrey"
            class="mr-4"
            :disabled="!valid"
            @click="init"
        >
          Init
        </v-btn>
        
        <v-switch v-model="$ui.showTvChart" class="ma-2 mt-4" color="primary" label="Show Tradingview Chart"></v-switch>
        <v-switch v-model="$ui.showOpenPosition" class="ma-2 mt-0" color="primary"
                  label="Show Open Position"></v-switch>
        
        <v-text-field
            v-for="symbol in $bybitApi.availableSymbols"
            v-model="$ui.chartsIds[symbol]"
            :label="symbol + ' Tradingview chart id'"
        ></v-text-field>
      
      </v-layout>
    </v-container>
  </v-form>
</v-navigation-drawer>

